<form action="" method="POST">
    <label>Name:</label>
    <input ngModel name="student_name" #student_name="ngModel"  type="text" name="student-name" id="sname" placeholder="Name">&nbsp;
    <label>ID:</label>
    <input ngModel name="student_id" #student_id="ngModel"  type="text" name="student-roll" id="sid" placeholder="ID">&nbsp;
    <label>Skills:</label>
    <input ngModel name="student_skills" #student_skills="ngModel"  type="text" name="student-department" id="sskills" placeholder="Skills">&nbsp;
    <label>Project:</label>
    <input ngModel name="student_project" #student_project="ngModel"  type="text" name="student-roll2" id="sproject" placeholder="Project Details">&nbsp;
    <label>HCM:</label>
    <input ngModel name="student_hcm" #student_hcm="ngModel"  type="text" name="student-roll3" id="shcm" placeholder="HCM">&nbsp;&nbsp;
<button class="btn btn-primary" (click)="addStudent(student_name,student_id,student_skills,student_project,student_hcm)">Add</button>
</form>
