<div class="container">
    <div class="row">
        <div class="col">
<app-child
      [imgurl]="imgurl[0]"
      [cardTitle]="cardTitle[0]"
      [cardDesc]="cardDesc[0]"
      [buttonColor]="buttonColor[0]"></app-child>
    </div>
      <div class="col">
      <app-child
      [imgurl]="imgurl[1]"
      [cardTitle]="cardTitle[1]"
      [cardDesc]="cardDesc[1]"
      [buttonColor]="buttonColor[1]"></app-child>
    </div>
      <div class="col">
      <app-child
      [imgurl]="imgurl[2]"
      [cardTitle]="cardTitle[2]"
      [cardDesc]="cardDesc[2]"
      [buttonColor]="buttonColor[2]"></app-child>
    </div>
    </div>
    </div>