<h1>Angular Project</h1>
<!--
<h2>Table Details</h2>
<table class="table table-striped table-dark">
    <thead app-table-head></thead>

   <tbody app-table-body></tbody>

</table>

<signup-form></signup-form>


<app-parent></app-parent>
<app-rohit1></app-rohit1>
<todos></todos>
<app-posts></app-posts>
<app-ngformheader></app-ngformheader>
<app-ngformfooter></app-ngformfooter>

<app-genetic-child1></app-genetic-child1>

<app-angularform></app-angularform>-->
<div align="center" style="margin-top:10%;">
    <circle-progress [percent]="80"  [space]="-10" [radius]="100" [outerStrokeWidth]="10"
      [innerStrokeWidth]="10" [outerStrokeColor]="'#4882c2'" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
      [animationDuration]="500"></circle-progress>
  </div>
  <app-contact-form></app-contact-form>