<h2>Form Validation</h2>
<form [formGroup]="form">
    <div class="form-group">
        <input formControlName="associatename" type="name" class="form-control" id="exampleFormControlInput1" placeholder="Associate Name">
        <small *ngIf="associate_name.touched && associate_name.invalid" class="form-text text-danger font-weight-bold">
            <div *ngIf="associate_name.errors.required">Please Enter Associate Name</div>
            
          <div *ngIf="associate_name.errors.minlength||associate_name.errors.maxlength||associate_name.errors.notNumber||associate_name.errors.noSpecial">Accepts Alphabets, space & Min 5 to Max 30 Char</div>
          </small>
    </div><br>



    <div class="form-group">
        <input formControlName="associateid" type="Aid" class="form-control" id="exampleFormControlInput2" placeholder="Associate Id">
        <small *ngIf="associate_id.touched && associate_id.invalid" class="form-text text-danger font-weight-bold">
            <div *ngIf="associate_id.errors.required">Please Enter Associate Id</div>
            <div *ngIf="associate_id.errors.minlength||associate_id.errors.maxlength||associate_id.errors.notAlphabet||associate_id.errors.noSpecial||associate_id.errors.notSpace">Invalid Associate Id</div>
        </small>
    </div><br>


    
    <div class="form-group">
        <input formControlName="projectid" type="Pid" class="form-control" id="exampleFormControlInput3" placeholder="Project ID">
        <small *ngIf="project_id.touched && project_id.invalid" class="form-text text-danger font-weight-bold">
            <div *ngIf="project_id.errors.required">Please Enter Project Id</div>
            <div *ngIf="project_id.errors.minlength||project_id.errors.maxlength||project_id.errors.noSpecial||project_id.errors.notSpace">Invalid Project Id</div>
        </small>
    </div><br>


   
    <div class="form-check">
        <input formControlName="location" class="form-check-input" type="radio" name="location" id="exampleRadios1" value="option1">
        <label class="form-check-label" for="exampleRadios1">
          Offshore
        </label>
        
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <input formControlName="location" class="form-check-input" type="radio" name="location" id="exampleRadios2" value="option2">
        <label class="form-check-label" for="exampleRadios2">
        Onshore
       </label>
      </div><br>
<!--
      <div *ngIf="f.location.untouched && f.location.invalid" class="alert alert-danger">
        <div *ngIf="f.location.errors.required">Name is required.</div>
    </div>
  -->  


      <select *ngIf="offshore_location.untouched && offshore_location.invalid" class="form-control incorrect_form">
        <option>Select Location</option>
        </select>
        <small *ngIf="offshore_location.untouched && offshore_location.invalid" class="form-text text-danger font-weight-bold">
          <div *ngIf="offshore_location.errors.required">Please Select Location</div>
        </small>

      <select *ngIf="offshore_location.value==='option1'" class="form-control">
        <option *ngFor="let a of arr1">{{a}}</option>

      </select>
      <select *ngIf="offshore_location.value==='option2'" class="form-control">
        <option *ngFor="let a of arr2">{{a}}</option>

      </select><br>



      <div class="container">
        <div class="row">
        <div class="col-4" *ngFor="let i of skills_array;index as j">
          
          <input formControlName="skills" [value]="i" class="form-check-input" type="checkbox" id="defaultCheck{{j+1}}">
          <label class="form-check-label" for="defaultCheck{{j+1}}">
            {{i}}
          </label>
        </div>
      </div>
      </div>
      <div *ngIf="list_skills.untouched && list_skills.invalid" class="alert alert-danger">
        <div *ngIf="list_skills.errors.required">Please Select Minimum 5 Skills</div>
    </div>
      
    <!--
    <div class="form-check">
        <div class="row">
            <div class="col">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          HTML5,CSS3,JS
        </label>
    </div>
    <div class="col">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
        <label class="form-check-label" for="defaultCheck2">
          Angular 8
        </label>
    </div>
    <div class="col">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
        <label class="form-check-label" for="defaultCheck3">
          Express JS
        </label>
        </div>
    </div>
    <div class="row">
        <div class="col">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
        <label class="form-check-label" for="defaultCheck4">
          SASS
        </label>
    </div>
    <div class="col">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck5">
        <label class="form-check-label" for="defaultCheck5">
          React JS
        </label>
    </div>
        <div class="col">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck6">
        <label class="form-check-label" for="defaultCheck6">
          Node JS
        </label>
    </div>
    </div>
    <div class="row">
        <div class="col">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck7">
        <label class="form-check-label" for="defaultCheck7">
          ES5,ES6,ES7...
        </label>
    </div>
    <div class="col">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck8">
        <label class="form-check-label" for="defaultCheck8">
          Veu JS
        </label>
    </div>
        <div class="col">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck9">
        <label class="form-check-label" for="defaultCheck9">
          Mongo DB
        </label>
    </div>
    </div>
    <div class="row">
        <div class="col">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck9">
        <label class="form-check-label" for="defaultCheck9">
          Bootstrap 4
        </label>
    </div>
        <div class="col">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck9">
        <label class="form-check-label" for="defaultCheck9">
          Typescript
        </label>
    </div>
        <div class="col"></div>
    </div>
      </div>-->
      <br>


      <div class="form-group">
        <label for="exampleFormControlFile1">Upload Profile</label>
        <input formControlName="uploadprofile" type="file" class="form-control-file" id="exampleFormControlFile1">
        <small *ngIf="upload_profile.touched && upload_profile.invalid" class="form-text text-danger font-weight-bold">
          <div *ngIf="upload_profile.errors.required">Please Enter Profile Picture</div>
      </small>
      </div><br>


    
      <div class="form-group">
        <textarea formControlName="comments" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Comments"></textarea>
        <small *ngIf="comments_form.touched && comments_form.invalid" class="form-text text-danger font-weight-bold">
          <div *ngIf="comments_form.errors.required">Please Enter Comments</div>
      </small>
      </div><br>


    

      <button [disabled]="!form.valid" type="submit" class="btn btn-primary">Submit</button>&nbsp;&nbsp;&nbsp;
      <button type="reset" class="btn btn-danger">Reset</button>


      
      
</form>

<form [formGroup]="form2" novalidate>

  <div *ngFor="let CountryData of CountryData; let i=index">
    <label>
      <input type="checkbox" [value]="CountryData.value" (click)="onCheckboxChange($event)" />
      {{CountryData.name}}
    </label>
  </div>

  
</form>